<div>
<% @books.each do |book| %>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card img-thumbnail">
      <h5 class="card-title">タイトル：<%= book.title%></h5>
    <% if signed_in? %>
      <button type="button" class="btn btn-light rounded-pill">
      <%= link_to "編集", edit_book_path(book) %>
    </button>
    <% end %>
  <p>投稿日:<%= book.created_at.strftime("%Y-%m-%d %H:%M") %></p>
  <p>経過：<%= time_ago_in_words(book.created_at) %>前</p>
    </div>
  </div>
</div>
<% end %>
</div>
