<div>
<% @books.each do |book| %>
  <p>タイトル：<%= book.title%>
    <% if signed_in? %>
      <%= link_to "編集", edit_book_path(book) %>
    <% end %></p>
  <p>投稿日:<%= book.created_at.strftime("%Y-%m-%d %H:%M") %></p>
  <p>経過：<%= time_ago_in_words(book.created_at) %>前</p>

<% end %>
</div>
