<h1>既読の本一覧</h1>
<hr>
<%= render 'index',books: @books %>
<hr>
<!-- ツイッターに宣伝 -->
<%= link_to @tweet_url,:onclick=>"window.open(this.href,'hoge', 'height=400, width=600');return false;" do %>
  <div style="background-color:#1da1f2;color:#ffffff;line-height:38px;text-align:center;padding: 0 16px;margin: 15px 10px;border-radius:10px;">
    <i class="fab fa-twitter"></i>
    みんなに宣伝
  </div>
<% end %>
<!--Find me in app/views/books/index_read.html.erb-->
